/**
 * Define variables here
 */

//Font_size:
$smallFont: 12px;
$mediumFont: 14px;
$largeFont: 16px;
$largerFont: 18px;

//Color:
$primaryColor: #3aa0de;
$textColor: #ccc;
$inputTextColor: #3aa0de;
$primaryTextColor: #3aa0de;
$bgColor: #f0f4f6;
