.work-confirm {
  font-size: $largeFont;
  .list {
    background: white;
  }
  .bold {
    font-weight: bold;
  }
  h3 {
    padding-left: 10px;
  }
  .detail,
  h3 {
    color: #3aa0de;
  }
  .row {
    padding: 0;
    margin: 0;
  }
  .col {
    border: solid 1px #dddddd;
  }
  button.submit {
    width: 100%;
    background-color: #ff9800;
    color: #fff;
    font-weight: bold;
    height: 54px;
    font-size: $largerFont;
  }
  button.submit.disabled{
    opacity: 1;
    background-color: #ccc;
    color: #3aa0de;
  }
  .bottom {
    background-color: transparent;
  }
  tr {
        width: 100%;
  }
  th {
      font-size: 14.3px;
      padding: 10px;
      word-wrap: break-word;
      white-space: normal;
      text-align: left;
      border: 1px solid #f0f4f6;
  }
    .th-a {
        width: 33%;
        color: #263668; 
    }
    .th-b {
        width: 67%;
        color: $inputTextColor;
        p {
            color: $inputTextColor !important;
        }
    }
    .no-margin {
      margin: 0px;
    }
    .table-candidate {
        background: white;
        border-radius: 6px;
        margin: 3%;
    }
}
