<div class="searchbar">
  <form name="filterJobsForm">
    <div class="list list-inset">
      <label class="item item-input full-width">
        <input type="search" ng-focus="showIt()" ng-change="filterJobs(query, fromDate, toDate)" ng-model="query" placeholder="Nhập công việc cần tìm">
        <i class="icon ion-search placeholder-icon"></i>
      </label>
      <ion-checkbox class="full-width" ng-model="filterByDate">Tìm theo ngày</ion-checkbox>
      <label class="item item-input item-stacked-label half-width" ng-if="filterByDate">
        <span class="input-label">Từ ngày</span>
        <input id="fromDate" type="date" ng-model="fromDate" ng-change="filterJobs(query, fromDate, toDate)">
        <div class="icon-input">
          <img class="img-input" src="images/work/date.png">
        </div>
      </label>
      <label class="item item-input item-stacked-label half-width" ng-if="filterByDate">
        <span class="input-label">Đến ngày</span>
        <input id="toDate" type="date" ng-model="toDate" ng-change="filterJobs(query, fromDate, toDate)">
        <div class="icon-input">
          <img class="img-input" src="images/work/date.png">
        </div>
      </label>
    </div>
     <!--<button style="color: #000000;" ng-click="cancel()" class="button button-clear">
                Hủy
            </button>-->
    <div class="margin list list-inset" ng-show="showList">
      <span ng-show="filteredWorkList.length < 1">Không tìm thấy</span>
      <div class="item item-job" ng-repeat="item in filteredWorkList | orderBy:'-createDate'">
        <div class="row">
          <div class="col job-title">
            {{item.title}}
          </div>
        </div>
        <div class="row">
          <div class="col job-address">
            <img class="img-marker" src="images/work/marker.png">
            {{item.address}}
          </div>
        </div>
        <div class="row">
            <div class="col col-33">
                <div class="job-salary">{{item.totalEarnings | number:0}}</div>
                <div class="job-currency">VNĐ</div>
            </div>
            <div class="col job-description">
                {{item.description}}
            </div>
        </div>
        <div class="row job-footer">
            <div class="col col-20 job-icon">
              <img class="img-date" src="images/work/date_black.png">
            </div>
            <div class="col col-50">
                <div class="job-date">{{item.startDate | date : 'dd/MM/yyyy'}}</div>
                <div class="job-date">{{item.startTime | date: 'h:mm a'}} - {{item.endTime | date: 'h:mm a'}}</div>
            </div>
            <div class="col col-30">
              <button class="button button-block job-button" ng-click="goDetail(item)">
                CHI TIẾT
              </button>
            </div>
        </div>
      </div>
      <ion-infinite-scroll on-infinite="loadMore()"  ng-if="moreData" distance="1%"></ion-infinite-scroll>
    </div>

  </form>
</div>
