<ion-view class="change-password">
  <form name="form">
    <ion-content class="client change-password gray-background">
      <div class="sub-header">
        <button class="button button-clear back-button" ng-click="vm.goBack()">
                <i class="ion-chevron-left"></i>
            </button>
        <p class="sub-title">THAY ĐỔI MẬT KHẨU</p>
      </div>
      <hr class="blue-hr">
      <div class="margin list list-inset">
        <label class="item item-input full-width">
            <span class="input-label">Mật khẩu cũ</span>
            <input type="password" ng-model="vm.oldPassword" minlength="8" required>
        </label>
        <label class="item item-input full-width">
            <span class="input-label">Mật khẩu mới</span>
            <input type="password" ng-model="vm.newPasswordFirst" minlength="8" required>
        </label>
        <label class="item item-input full-width">
            <span class="input-label">Nhập lại mật khẩu</span>
            <input type="password" ng-model="vm.newPasswordSecond" minlength="8" required>
        </label>
        <div class="center error-text" ng-show="form.$invalid && form.$submitted">{{vm.error}}</div>
      </div>
      <div class="group-button-div">
        <div class="button-div" ng-click="vm.goBack()">
          <img class="left" src="images/work/delete_button.png">
          <p class="button-title">HỦY</p>
        </div>
        <div class="button-div" ng-click="vm.changePassword(form)">
          <img class="right" src="images/work/edit_button.png">
          <P class="button-title">THAY ĐỔI</P>
        </div>
      </div>
    </ion-content>
  </form>
</ion-view>
