.change-password{
    .group-button-div {
        padding-top: 12px;
        padding-left: 18px;
        padding-right: 18px;
    }
    .button-div {
        width: 50%;
        float: left;
        img {
            width: 98.5%;
        }
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .button-title {
        color: white;
        font-size: 15px;
        font-weight: bold;
        padding-top: 4%;
        padding-left: 18%;
        position: absolute;
    }
}